body{
	margin: 5px;
}
h1{
	background: linear-gradient(to bottom, #363672, #33e8ff);
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 0px;
}
div{
	border: 1px solid black;
	border-top: 0px;
	padding: 10px;
}
div a{
	display: block;
	position: relative;
	margin-bottom: 2px;
	font-size: 120%;
	height: 22px;
}
div a:last-of-type{
	margin-bottom: 0px;
}
div a img{
	height: 100%;
}
a span.size{
	float: right;
	text-decoration:  none;
	color: black;
}
a:hover{
	background-color: #eee;
}